.service {

    &__cards {
        margin-top: 40px;
    }

    &__card {
        position: relative;
        background: var(--color-white);
        box-shadow: 0px 0px 20px rgba(68, 117, 242, 0.1);
        border-radius: 8px;
        padding: 25px;
        text-align: center;
        margin: 10px 0;

        &:hover {
            box-shadow: 0px 10px 20px rgba(68, 117, 242, 0.3);
            h3 {
                color: var(--main-color);
                font-weight: 900;
            }

            a {
                background: var(--highlight-background);
                border: none;
                color: var(--color-white);
            }

            ::after {
                content: '';
                position: absolute;
                display: block;
                height: 15px;
                width: 100%;
                background: var(--highlight-background);
                border-radius: 0px 0px 8px 8px;
                bottom: 0;
                left: 0;
                z-index: 1;
            }
        }

        img {
            height: 100px;
        }

        h3 {
            padding-top: 20px;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
        }

        h4 {
            font-weight: 800;
            font-size: 20px;
            line-height: 45px;
            text-align: center;
            color: #333333;
            text-transform: lowercase;

            span {
                font-size: 16px;
            }
        }

        h5 {
            color: #F84141;
            font-weight: 700;
            font-size: 18px;
            line-height: 20px;
            text-decoration: line-through;
        }

        @include tablet {
            height: 430px;
        }

        @include desktop {
            height: 523px;
            img {
                height: 120px;
            }
            h3 {
                padding-bottom: 30px;
            }

            h4 {
                font-size: 36px;

                span {
                    font-size: 24px;
                }
            }

            h5 {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

}